# .env.local (DO NOT COMMIT THIS FILE)

const supabaseUrl = https://digcbahbtabrtnpsedma.supabase.co
const supabaseAnonKey =eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRpZ2NiYWhidGFicnRucHNlZG1hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIyMDcwMjgsImV4cCI6MjA3Nzc4MzAyOH0.JTz39b4kieO3CvVvuLI93wylweQC-MUpbH-zTknx_-s

# Admin credentials (KEEP SECRET!)
REACT_APP_ADMIN_PASSWORD=AqueMini4Mr._Madden
REACT_APP_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRpZ2NiYWhidGFicnRucHNlZG1hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MjIwNzAyOCwiZXhwIjoyMDc3NzgzMDI4fQ.DBwQSZnRWzrBLlWJaW05KZjVSztvxOW2PgupC6MbGbA